{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
    <!-- Bootstrap class https://getbootstrap.com/docs/4.1/content/tables/ -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}

            <tr>
                <td>
                    {{ transaction["id"] }}
                </td>
                <td>
                    {{ transaction["name"] }}
                </td>
                <td>
                    {{ transaction["date"] }}
                </td>
                <td>
                    {{ transaction["category"] }}
                </td>
                <td>
                    {{ sek(transaction["amount"]) }}
                </td>
            </tr>

            {% endfor %}

        </tbody>

        <tfoot>
            <tfoot>
                <td><strong>TOTAL AMOUNT</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{sek(sumTransactions)}}</strong></td>
            </tfoot>
        </tfoot>
    </table>
{% endblock %}
